<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card v-if="dialog">
        <v-alert type="success" v-if="updated">Book updated!</v-alert>
        <v-alert type="success" v-if="created">Book created!</v-alert>
        
        <v-alert type="error" v-if="invalidForm && !created && !updated">{{ invalidMessage }}</v-alert>
        <v-card-title>
          <span v-if="mode == 'edit'" class="headline">Book details</span>
          <span v-if="mode == 'create'" class="headline">New Book</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="7" md="7">
                <v-text-field label="Book name" required v-model="book.name"></v-text-field>
              </v-col>
              <v-col cols="12" sm="5" md="5">
                <v-text-field label="Author" required v-model="book.author"></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field label="Year" type="number" required v-model="book.year"></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field label="Edition" v-model="book.edition"></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Close</v-btn>
          <v-btn :disabled="disabled" color="blue darken-1" text @click="saveBook">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: {
    selectedBook: { type: Object }
  },

  data() {
    return {
      book: null,
      dialog: false,
      mode: 'create',
      updated: false,
      created: false,

      invalidForm: false,
      invalidMessage: '',
    }
  },

  methods: {
    async saveBook() {
      if (!this.validForm()) return

      if (this.mode == 'edit') {
        const book = await this.$store.dispatch('book/updateBook', this.book)
        console.log(book)
        this.updated = true
        setTimeout(() => {
          this.close()
        }, 2000)
      }
      else if (this.mode == 'create') {
        await this.$store.dispatch('book/createBook', this.book)
        this.created = true
        setTimeout(() => {
          this.close()
        }, 2000)
      }
    },

    validForm() {
      if (!this.validateField('name')) return false
      if (!this.validateField('author')) return false
      if (!this.validateField('year')) return false
      if (!this.validateField('edition')) return false

      return true
    },
    validateField(field) {
      if (!this.book[field] || this.book[field].toString().trim() == '') {
        this.invalidForm = true
        this.invalidMessage = `Please insert a book ${field}!`
        return false
      }
      return true
    },

    close() {
      this.dialog = false

      if (this.mode == 'edit')
        this.$store.commit('book/unsetSelectedBook')
      else if (this.mode == 'create')
        this.$store.commit('book/unsetCreateBook')
      
      this.clear()
    },
    clear() {
      this.book = null
      this.dialog = false
      this.mode = 'create'
      this.updated = false
      this.created = false
      this.invalidForm = false
      this.invalidMessage = ''
    },
  },

  computed: {
    createBook: function () {
      return this.$store.state.book.createBook
    },

    disabled: function () {
      return this.created || this.updated
    }
  },

  watch: {
    selectedBook: function (book) {
      if (!book) return

      this.mode = 'edit'
      this.book = {...this.selectedBook}
      this.dialog = !!book
    },
    createBook: function (create) {
      this.mode = 'create'
      this.book = {}
      this.dialog = create
    }
  }
}
</script>

<style>
</style>
