<template>
  <v-simple-table fixed-header :height="300">
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-left">Author</th>
          <th class="text-left">Year</th>
          <th class="text-left">Edition</th>
          <th class="text-left">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="book in books" :key="book._id" @click.stop="openBook(book)" style="cursor: pointer;">
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.year }}</td>
          <td>{{ book.edition }}</td>
          <td>
            <v-btn small :disabled="disabled" @click.stop="removeBook(book)" color="red lighten-2">
              <v-icon small color="white">{{ icons.mdiDelete }}</v-icon>
            </v-btn>
          </td>
        </tr>
      </tbody>
      <BookForm :selectedBook="selectedBook"/>
    </template>
  </v-simple-table>
</template>

<script>
import { 
  mdiDelete 
} from '@mdi/js';

import BookForm from './BookForm'
export default {
  components: {
    BookForm,
  },

  props: {
    books: { type: Array },
    disabled: { type: Boolean },
  },

  data() {
    return {
      icons: {
        mdiDelete 
      }
    }
  },

  methods: {
    openBook(book) {
      this.$store.commit('book/setSelectedBook', book)
    },

    removeBook(book) {
      this.$store.dispatch('book/removeBook', book)
    }
  },

  computed: {
    selectedBook: function () {
      return this.$store.state.book.selectedBook
    }
  }
}
</script>

<style>
</style>
