<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card v-if="dialog">
        <v-alert type="success" v-if="updated">Library updated!</v-alert>
        <v-alert type="success" v-if="created">Library created!</v-alert>
        
        <v-alert type="error" v-if="invalidForm && !created && !updated">{{ invalidMessage }}</v-alert>
        <v-card-title>
          <span v-if="mode == 'edit'" class="headline">Library details</span>
          <span v-if="mode == 'create'" class="headline">New Library</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <v-text-field label="Library name" required v-model="library.name"></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="4" md="4">
                <v-text-field label="Country" required v-model="library.country"></v-text-field>
              </v-col>
              <v-col cols="12" sm="4" md="4">
                <v-text-field label="State" required v-model="library.state"></v-text-field>
              </v-col>
              <v-col cols="12" sm="4" md="4">
                <v-text-field label="City" v-model="library.city"></v-text-field>
              </v-col>
            </v-row>

            <span v-if="mode != 'create'" class="subtitle-1">Books</span>
            <books-list v-if="mode != 'create'" :disabled="disabled" :books="library.books" />

            
            <v-row v-if="mode != 'create'" class="pt-8">
              <v-btn :disabled="disabled" color="indigo lighten-3" style="color: white;" @click="createBook">Add book</v-btn>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Close</v-btn>
          <v-btn :disabled="disabled" color="blue darken-1" text @click="saveLibrary">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import BooksList from './BooksList'
export default {
  components: {
    BooksList,
  },

  props: {
    selectedLibrary: { type: Object }
  },

  data() {
    return {
      library: null,
      dialog: false,
      mode: 'create',
      updated: false,
      created: false,

      invalidForm: false,
      invalidMessage: '',
    }
  },

  methods: {
    createBook() {
      this.$store.commit('book/setCreateBook')
    },

    async saveLibrary() {
      if (!this.validForm()) return

      if (this.mode == 'edit') {
        await this.$store.dispatch('library/updateLibrary', this.library)
        this.updated = true
        setTimeout(() => {
          this.close()
        }, 2000)
      }
      else if (this.mode == 'create') {
        await this.$store.dispatch('library/createLibrary', this.library)
        this.created = true
        setTimeout(() => {
          this.close()
        }, 2000)
      }
    },

    validForm() {
      if (!this.validateField('name')) return false
      if (!this.validateField('country')) return false
      if (!this.validateField('state')) return false
      if (!this.validateField('city')) return false

      return true
    },
    validateField(field) {
      if (!this.library[field] || this.library[field].trim() == '') {
        this.invalidForm = true
        this.invalidMessage = `Please insert a library ${field}!`
        return false
      }
      return true
    },

    close() {
      this.dialog = false

      if (this.mode == 'edit')
        this.$store.commit('library/unsetSelectedLibrary')
      else if (this.mode == 'create')
        this.$store.commit('library/unsetCreateLibrary')
      
      this.clear()
    },
    clear() {
      this.library = null
      this.dialog = false
      this.mode = 'create'
      this.updated = false
      this.created = false
      this.invalidForm = false
      this.invalidMessage = ''
    },
  },

  computed: {
    createLibrary: function () {
      return this.$store.state.library.createLibrary
    },

    disabled: function () {
      return this.created || this.updated
    }
  },

  watch: {
    selectedLibrary: async function (library) {
      if (!library) return

      this.mode = 'edit'
      this.library = {...this.selectedLibrary}
      this.library.books = null
      this.library.books = await this.$store.dispatch('library/getLibraryBooks', library._id)
      this.dialog = !!library
    },
    createLibrary: function (create) {
      this.mode = 'create'
      this.library = {}
      this.dialog = create
    }
  }
}
</script>

<style>
</style>
