<template>
  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-left">Book Number</th>
          <th class="text-left">Country</th>
          <th class="text-left">State</th>
          <th class="text-left">City</th>
          <th class="text-left">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="library in libraries" :key="library._id" @click.stop="openLibrary(library)" style="cursor: pointer;">
          <td>{{ library.name }}</td>
          <td>{{ library.books.length }}</td>
          <td>{{ library.country }}</td>
          <td>{{ library.state }}</td>
          <td>{{ library.city }}</td>
          <td>
            <v-btn small @click.stop="removeLibrary(library)" color="red lighten-2">
              <v-icon small color="white">{{ icons.mdiDelete }}</v-icon>
            </v-btn>
          </td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
import { 
  mdiPencil,
  mdiDelete 
} from '@mdi/js';
export default {
  props: {
    libraries: { type: Array }
  },

  data() {
    return {
      icons: {
        mdiPencil,
        mdiDelete 
      }
    }
  },

  methods: {
    openLibrary(library) {
      this.$store.commit('library/setSelectedLibrary', library)
    },
    removeLibrary(library) {
      this.$store.dispatch('library/removeLibrary', library)
    },
  }
}
</script>

<style>
</style>
