<template>
  <v-app dark>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      
      <v-toolbar-title v-text="title" />
      <v-spacer />
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    
    <v-footer
      :fixed="fixed"
      app
    >
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: true,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Index',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Other Page',
          to: '/other-page'
        }
      ],
      miniVariant: false,
      title: 'IGTI - Libraries'
    }
  },

  async created() {
    await this.$store.dispatch('library/getAllLibraries')
  }
}
</script>
