<template>
  <v-layout column>
    <v-row>
      <h1 class="display-3">Libraries</h1>
    </v-row>
    <br>
    <v-row class="pl-4 pb-4">
      <v-btn @click="createLibrary" color="indigo lighten-3" style="color: white;">Add Library</v-btn>
    </v-row>

    <libraries-list :libraries="libraries" />

    <library-form :selectedLibrary="selectedLibrary" />

    <v-overlay :z-index="999" :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-layout>
</template>

<script>
import LibrariesList from '~/components/LibrariesList.vue'
import LibraryForm from '~/components/LibraryForm.vue'
export default {
  components: {
    LibraryForm,
    LibrariesList,
  },

  methods: {
    createLibrary() {
      this.$store.commit('library/setCreateLibrary')
    }
  },

  computed: {
    libraries: function () {
      return this.$store.state.library.libraries ? [...this.$store.state.library.libraries] : null
    },
    selectedLibrary: function () {
      return this.$store.state.library.selectedLibrary ? {...this.$store.state.library.selectedLibrary} : null
    },

    loading: function () {
      const loadingAllLibraries = this.libraries == null,
            libraryLoading = this.$store.state.library.loading,
            bookLoading = this.$store.state.book.loading
      return loadingAllLibraries || libraryLoading || bookLoading
    }
  }
}
</script>
